<div class="row">
  <div class="col-12">
    <img src="assets/img/epicerie.png" height="500px" id="fondcategorie"/>
  </div>
</div>
<div class="row">
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card zoom" style="width: 21rem;" id="zoom">
      <img class="card-img-top " src="assets\img\epicerie1.jpg" alt="Card image cap" height="330px">
      <div class="card-body">
        <div id="epicerie1">
          <p><strong>Fois gras de canard entier</strong></p>
          <p class="tprix">19.90 €</p>
        </div>
        <button type="button" class="btn btn-dark" >AJOUTER AU PANIER</button>
        <p class="tdescription">Fois gras de canard entier pour les fins connaisseurs</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card zoom" style="width: 21rem;" id="zoom">
      <img class="card-img-top" src="assets\img\epicerie2.jpg" alt="Card image cap" height="330px">
      <div class="card-body">
        <div id="epicerie2">
          <p><strong>Cou de canard farci</strong></p>
          <p class="tprix">2.90 €</p>
        </div>
        <button type="button" class="btn btn-dark">AJOUTER AU PANIER</button>
        <p class="tdescription">Ça vaut le coup !</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card zoom" style="width: 21rem;" id="zoom">
      <img class="card-img-top" src="assets\img\epicerie3.jpg" alt="Card image cap" height="330px">
      <div class="card-body">
        <div id="epicerie3">
          <p><strong>Blé soufflet au miel</strong></p>
          <p class="tprix">1.70 €</p>
        </div>
        <button type="button" class="btn btn-dark">AJOUTER AU PANIER</button>
        <p class="tdescription">Parfait quand on est à bout de souffle !</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card zoom" style="width: 21rem;" id="zoom">
      <img class="card-img-top" src="assets\img\epicerie4.jpg" alt="Card image cap" height="330px">
      <div class="card-body">
        <div id="epicerie4">
          <p><strong>Riz et soja</strong></p>
          <p class="tprix">1.70 €</p>
        </div>
        <button type="button" class="btn btn-dark">AJOUTER AU PANIER</button>
        <p class="tdescription">Riz majestueux en bouche !</p>
      </div>
    </div>
  </div>
</div>
