<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <title>PROJET</title>
</head>
<body>
  <div class="row">
<div class="col-12">
  <img src="../assets/img/epicerie.png" height="500px" id="fondcategorie"/>
</div>
</div>
<div class="row">
<div class="col-md-3 d-flex justify-content-center">
  <div class="card zoom" style="width: 21rem;" id="zoom">
    <img class="card-img-top " src="../assets\img\epicerie1.jpg" alt="Card image cap" height="330px">
    <div class="card-body">
      <div id="epicerie1">
        <p><strong>Fois gras de canard entier</strong></p>
        <p class="tprix">19.90 €</p>
      </div>
      <button type="button" class="btn btn-dark" >AJOUTER AU PANIER</button>
      <p class="tdescription">Fois gras de canard entier pour les fins connaisseurs</p>
    </div>
  </div>
</div>
<div class="col-md-3 d-flex justify-content-center">
  <div class="card zoom" style="width: 21rem;" id="zoom">
    <img class="card-img-top" src="../assets\img\epicerie2.jpg" alt="Card image cap" height="330px">
    <div class="card-body">
      <div id="epicerie2">
        <p><strong>Cou de canard farci</strong></p>
        <p class="tprix">2.90 €</p>
      </div>
      <button type="button" class="btn btn-dark">AJOUTER AU PANIER</button>
      <p class="tdescription">Ça vaut le coup !</p>
    </div>
  </div>
</div>
<div class="col-md-3 d-flex justify-content-center">
  <div class="card zoom" style="width: 21rem;" id="zoom">
    <img class="card-img-top" src="../assets\img\epicerie3.jpg" alt="Card image cap" height="330px">
    <div class="card-body">
      <div id="epicerie3">
        <p><strong>Blé soufflet au miel</strong></p>
        <p class="tprix">1.70 €</p>
      </div>
      <button type="button" class="btn btn-dark">AJOUTER AU PANIER</button>
      <p class="tdescription">Parfait quand on est à bout de souffle !</p>
    </div>
  </div>
</div>
<div class="col-md-3 d-flex justify-content-center">
  <div class="card zoom" style="width: 21rem;" id="zoom">
    <img class="card-img-top" src="../assets\img\epicerie4.jpg" alt="Card image cap" height="330px">
    <div class="card-body">
      <div id="epicerie4">
        <p><strong>Riz et soja</strong></p>
        <p class="tprix">1.70 €</p>
      </div>
      <button type="button" class="btn btn-dark">AJOUTER AU PANIER</button>
      <p class="tdescription">Riz majestueux en bouche !</p>
    </div>
  </div>
</div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
  </body>
  </html>
