<<<<<<< HEAD
#slideshow-banner ul { position: relative; }

#slideshow-banner ul .slideshow-item { position: absolute }

.slideshow-transform {
  transform: scale(1.1, 1.1);
  transition: transform 8s;
}

#slideshow-controller {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

#controller-left {
  position: absolute;
  left: 2%;
  top: 45%;
  cursor: pointer;
}

#controller-right {
  position: absolute;
  right: 2%;
  top: 45%;
  cursor: pointer;
}

.controller-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f00;
  margin-right: 10px;
  border-radius: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.controller-item-hover {
  opacity: 1;
  background: #ccc;
  transform: rotateX(360deg);
  transition: transform 2s;
=======
#manu{
  font-family: 'Liberation Serif';
  color: red;
  font-size: 250%;
}
.nav-link{
  font-size: 150%;
  font-family: 'FreeMono';
}
footer{
background-color: #D3D3D3;
}

#pubFooter{
  font-size: 70%;
  text-align: center;
  margin: 2%
}
#foot p {
  margin-top: 10%;
>>>>>>> Aline
}
