#manu{
  font-family: 'Liberation Serif';
  color: red;
  font-size: 250%;
}
.nav-link{
  font-size: 150%;
  font-family: 'FreeMono';
}
footer{
background-color: #D3D3D3;
}
#white{
  width: 500px;
}
#pubFooter{
  font-size: 70%;
  text-align: center;
  margin: 2%
}
#foot p {
  margin-top: 10%;
}
#fondcategorie {
  width : 100%;
}
.tprix{
  font-size: 25px;
  font-weight: bolder;
  color: red;
}
.tdescription{
  margin-top: 10%;
  color: red;
  font-weight: bolder;
}
.card{
  border: 2px !important;
  border-style: red;
  margin-top: 10%;
}
.custom-select{
  width: 65%;
  margin-bottom: 5%
}
@media all and (max-width:600px){
  #white{
    width: 0;
  }
}
